.git
.gitignore
.DS_Store
node_modules
vendor
/storage/*.key
.env
.env.*
!.env.example
npm-debug.log
yarn.lock
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
.phpunit.results.xml
tests
docs
README.md
CRON_SETUP.md
FIX_SELCOM_PROVIDER_ERROR.md
SELCOM_INTEGRATION.md
temp_excel_reader
temp_node_excel
*.sql
xlsx